.bw-toolbar {

  .bw-paragraph {

    .bw-down-open-btn {

      padding: 7px 0;

      .fui-icon {
        width: 10px;
        height: 10px;
        background: url( "images/down-open-small.png" ) no-repeat 0 0;
      }

    }

  }

}