.bw-toolbar {

  border: 1px solid #c3c3c3;
  border-width: 1px 0;

  .tabs-buttons {

    background: #e1e1e1;

    .bw-tabs-btn {
      padding: 7px 14px;
      &.fui-selected {
        background-color: #fff;
      }
    }

  }

  .tabs-panels {
    background: #fff;
    padding: 5px;
  }

}