@import "define";

.fui-label-panel {

  .fui-label-panel-label {
    width: 100%;
    color: #666;
  }

  &.fui-no-position {
    .fui-label-panel-label {
      position: static;
    }
  }

  &.fui-layout-bottom {
    .fui-label-panel-label {
      position: absolute;
      bottom: 0;
      left: 0;
      top: auto;
      z-index: 2;
    }
  }

}