/**
 * 通用button
 */

@import "define";

.fui-panel {

  display: inline-block;
  vertical-align: top;

  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;

  .fui-panel-content {
    position: relative;
    top: 0;
    left: 0;
  }

  &.fui-container-break .fui-panel-content .fui-widget {
    display: block;
  }

}