/**
 * Spin-button
 */

.fui-spin-button {

  .fui-spin-up-btn .fui-icon, .fui-spin-down-btn .fui-icon {
    width: 16px;
    height: 9px;
    background: url( "images/up.png" ) no-repeat 3px 1.5px;
  }

  .fui-spin-down-btn .fui-icon {
    background-image: url( "images/down.png" );
  }

}