
.c-menu .fui-item {
    padding: 5px 20px;
}

.ext-open-btn {
    width: 16px;
    height: 50px;
    background: red;
}

.ext-table-icon {
    width: 24px;
    height: 24px;
    background: url( "../icon-demo/table.png" ) no-repeat 0 0;
}